<%- include("partials/header") -%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/homepage.css" />
    <script defer type="module" src="/javascript/homepage.js"></script>
    <title>TrainSpota</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <b>TrainSpota</b>
      </div>
      <ul class="nav-links">
        <li class="nav-link">Home</li>
        <li class="nav-link"><a href="/map">Map</a></li>
        <li class="nav-link">Features</li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </body>
</html>
