<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/map.css" />

    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script defer type="module" src="/javascript/map/controller.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/f657ccdfcc.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="side-bar">
      <i class="fas fa-home btn" data-name="home"></i>
      <i class="fas fa-search btn" data-name="search"></i>
      <i class="fas fa-map-marker-alt btn" data-name="curLocation"></i>
      <i class="fas fa-map btn" data-name="mapType"></i>
      <i class="fas fa-subway btn" data-name="trainRoutes"></i>
    </div>
    <div class="search hidden">
      <form class="search-form" action="#">
        <input class="search-box" name="search" type="search" />
        <button class="btn" for="search"><i class="fas fa-search"></i></button>
      </form>
      <div class="train-btn-box"></div>
      <div class="search-results">
        <p>
          Search for any National Rail Station<br />
          in the UK
        </p>
      </div>
    </div>

    <div id="map" style="height: 100vh"></div>
  </body>
</html>
