body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

i {
  font-size: 1rem;
}

#map {
  position: relative;
  z-index: 0;
}

.search {
  position: absolute;
  z-index: 1;
  top: 5rem;
  left: 5rem;
  width: 18rem;
  min-height: 9rem;
  max-height: 32rem;
  border-radius: 1.5rem;
  background-color: #262626;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 2rem 0;
}

.search label {
  font-size: 1rem;
}

.search input {
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
}

.search input:focus {
  outline: none;
}

.search-results {
  margin-top: 1rem;
  overflow: hidden;
}

.result-box {
  width: 12rem;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  background-color: #4c4c4c;
  color: white;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

/* //////////////////////////////////////////////////// */

.side-bar {
  height: 13rem;
  width: 3rem;
  border-radius: 1.5rem;
  position: absolute;
  top: 5rem;
  left: 1rem;
  z-index: 1;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.fas:hover,
.result-box:hover {
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////// */
/* Leaflet */

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1em;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: black;
}
