@media screen and (min-width: 1367px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  overflow: hidden;
}

i {
  font-size: 1rem;
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
  border: solid 0.35rem #262626;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}

/* Map */

#map {
  position: relative;
  z-index: 0;
  height: 100vh;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Search */

.search {
  position: absolute;
  z-index: 1;
  top: 5rem;
  left: 5rem;
  width: 18rem;
  max-height: 85%;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.search-form,
.search-result-container {
  width: 18rem;
  padding: 1rem 0;
  background-color: #262626;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 767px) {
  .search {
    left: 10%;
    width: 80%;
  }
}

.search input {
  border-radius: 0.4rem;
  border: none;
  padding-left: 1rem;
  width: 11rem;
  height: 2rem;
  background-color: #e6e6e6;
}

.search input:focus {
  outline: none;
}

.search-form .close-btn,
.search-form .close-btn:focus {
  background-color: #262626;
  color: #d9d9d9;
  letter-spacing: 0.5px;
  transition: all 0.2s;
}

.search-form .close-btn:hover {
  color: #f2f2f2;
}

/* Search Results //////////////////////////////////////////////////////////////////////////// */

.search-result-container {
  max-height: 0;
  padding: 0;
  flex-direction: column;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.search-result-container-active {
  max-height: 70%;
  padding: 1rem 0;
  flex-direction: column;
  transition: max-height 0.25s ease-in;
  overflow: auto;
}

.search-results {
  overflow: auto;
}

.search-results small {
  color: #e6e6e6;
  margin-bottom: 0.5rem;
}

.search-results b {
  background-color: #45859a;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  margin-right: 0.6rem;
}

.result-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.3rem;
}

.result-box,
.train-data-box {
  width: 12rem;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  color: white;
  transition: all 0.3s;
}

.result-box:hover {
  background-color: #555;
}

/* Train times ////////////////////////////////////////////////////////////////////////*/

.train-data-box h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

.train-data-box ul {
  list-style-type: none;
  padding: 0;
}

.train-data-box li:not(:last-child) {
  margin-bottom: 0.3rem;
}

.train-data-box br {
  margin-top: 0.2rem;
}

.train-type-btn {
  border-radius: 1rem;
  height: 1.6rem;
  width: 5rem;
  color: white;
  background-color: #45859a;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.train-type-btn:hover {
  background-color: #226074;
}

.train-btn-box {
  width: 14rem;
}

.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* //////////////////////////////////////////////////// */
/* side-bar */

.side-bar {
  padding: 0.9rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 5rem;
  left: 1rem;
  z-index: 1;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.side-bar .btn {
  margin: 0.7rem 0;
}

.btn,
.btn:hover,
.result-box:hover {
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (max-width: 1367px) {
  .side-bar .btn {
    padding: 0.4rem 0;
  }
}

@media screen and (max-width: 767px) {
  .side-bar {
    border-radius: 0;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
}

/* ////////////////////////////////////////////////////////////////// */
/* Leaflet */

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1em;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: black;
}
